:root {
  --Red: hsl(14, 86%, 42%);
  --Green: hsl(159, 69%, 38%);

  --Rose50: hsl(20, 50%, 98%);
  --Rose100: hsl(13, 31%, 94%);
  --Rose300: hsl(14, 25%, 72%);
  --Rose400: hsl(7, 20%, 60%);
  --Rose500: hsl(12, 20%, 44%);
  --Rose900: hsl(14, 65%, 9%);
  --card-width: 250px;

  & h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Red Hat Display", sans-serif;
  }
  & p,
  figcaption {
    font-family: "Red Hat Text SemiBold", sans-serif;
  }

  background-color: var(--Rose100);
}

@font-face {
  font-family: "Red Hat Display";
  src: url("../fonts/RedHatText-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Red Hat Text SemiBold";
  src: url("../fonts/static/RedHatText-SemiBold.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: start;
  white-space: nowrap;
}

body {
  min-height: 100vh;
}

main {
  display: flex;
  justify-content: center;

  margin: 0 auto;
  width: 90%;
}
.btn_product {
  position: absolute;
  bottom: -15px;
  width: 140px;
  height: 38px;
  border-radius: 20px;
  right: calc(50% - 70px);
  overflow: hidden;
  border: 1px solid var(--Rose300);
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  max-width: var(--card-width);

  & .card__header {
    position: relative;
    & img {
      width: 100%;
      border-radius: 10px;
    }
    & .card__button {
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      & .button__add {
        cursor: pointer;
        width: 100%;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        & img {
          width: 20px;
        }
      }
    }

    & .card__button__quantity {
      display: flex;
      border: none;
      justify-content: space-around;
      align-items: center;
      background-color: var(--Red);
      color: white;
      & button {
        width: 30px;
        padding: 16px;
        background-color: var(--Red);
        cursor: pointer;
        border-radius: 50%;
        border: 1px solid white;
        & img {
          padding: 2px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
  & .card__body {
    width: 100%;
    margin-top: 30px;

    & .card__name {
      margin: 5px 0;
      color: var(--Rose900);
    }

    & p small {
      color: var(--Rose400);
    }
  }
  & .card__footer {
    width: 100%;
    color: var(--Red);
  }
}

.cart-section {
  padding: 20px;
  width: 100%;
  max-width: 400px;
  background-color: var(--Rose50);
  border-radius: 10px;
  height: min-content;
  & h3 {
    color: var(--Red);
  }
  & .cart-total {
    width: 100%;
    display: flex;
    justify-content: space-between;
    & small {
      color: var(--Rose500);
    }
  }
}

.cart {
  display: flex;
  justify-content: center;
  widows: 100%;
  & .delivery {
    display: flex;
    justify-content: space-between;
    background-color: var(--Rose100);
    padding: 10px 20px;
    gap: 10px;
    color: var(--Rose500);

    & b {
      color: var(--Rose900);
    }
  }
  & .confirm-button {
    width: 100%;
    text-align: center;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: var(--Red);
    color: var(--Rose100);
  }
}
.cart-empty-product {
  max-width: 250px;

  & figure {
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  & figcaption {
    color: var(--Rose500);
  }
}
.product-select {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--Rose300);
  & .product-detail {
    & .product-name {
      color: var(--Rose900);
    }
    & .product-total {
      display: flex;
      gap: 10px;
      color: var(--Rose400);
      margin: 10px 0;
      & .product-quantity {
        color: var(--Red);
      }
      & .product-price {
        color: var(--Rose400);
      }
      & .product-total-price {
        color: var(--Rose500);
      }
    }
  }

  & button {
    position: relative;
    display: inline-block;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
  }
}

section {
  margin-top: 50px;
  max-width: 900px;
  & article {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}

@media (width <= 768px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section {
    margin-top: 20px;
    max-width: 90%;
  }

  .products {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  .card {
    max-width: 100%;
  }
}
